div.taskApp {
   margin-left:auto;
   margin-right:auto;
   position : relative;
   min-height: 200px;
   width : 350px;
   text-align : center;
   border : 2px solid #666;
   padding : 20px;
   background-color : #C0C0C0;
 }
